.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.badge__container {
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  display: flex;
  height: 15%;
  max-height: 180px;
  width: 80%;

  margin-top: 10px;
  border-radius: 10px;
  background-color: $background;
  &__thumbnail {
    height: 100%;
    width: 100px;
    object-fit: cover;
    object-position: top center;
    border-radius: 10px 0px 0px 10px;
  }
  &__content {
    flex-grow: 6;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    &__text {
    }

    &__badge {
      display: inline;
      border-radius: 15px;
      background-color: $logocolor;
      padding: 1px 3px;
      font-size: 10px;
      margin: 3px;
    }
  }
}
.card__detail {
  background-color: $primary;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.479);
  outline: none;
}
